name: GitOps Workflow
on:
  workflow_dispatch:
    inputs:
      working-dir:
        description: "the sub-project working directory"
        required: true
env:
  TERRAFORM_VER: 1.14.0
  CLOUDSDK_VER: 522.0.0
permissions:
  pull-requests: write
jobs:
  infrastructure-provisioning:
    name: Infrastructure Provisioning Job
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    steps:
      # Checkout the repository code
      - name: Code checkout
        id: code_checkout
        uses: actions/checkout@v4

      # Scan the repo for any sensitive information like secrets etc
      - name: Secret Scanning
        uses: trufflesecurity/trufflehog@main
        with:
          path: ./ # Code repository path
          base: ""
          head: ${{ github.head_ref || github.ref_name }} # First one shows PR source branch and second push branch
          extra_args: --results=verified,unknown

      # Static code analysis using aqua security's tfsec
      - name: Run tfsec scan
        id: static_code_analysis
        uses: aquasecurity/tfsec-action@v1.0.3
        with:
          working_directory: ${{ github.event.inputs.working-dir }}
          additional_args: --minimum-severity HIGH

      # Setup the authentication for the Google Cloud using WIF
      - id: gcp_auth
        name: Authenticate to GCP
        uses: "google-github-actions/auth@v3"
        with:
          create_credentials_file: "true"
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER_ID }}
          service_account: ${{ secrets.SERVICE_ACCOUNT }}

      # Install the specified version of Terraform CLI
      - id: tf_installation
        name: Terraform Installation
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TERRAFORM_VER }}

      # Checks that Terraform configuration files adhere to a canonical format
      - name: Terraform fmt
        id: tf_fmt
        run: terraform fmt -check
        working-directory: ${{ github.event.inputs.working-dir }}

      # Initialize the Terraform working directory
      - name: Terraform Init
        id: tf_init
        run: terraform init
        working-directory: ${{ github.event.inputs.working-dir }}

      # Validate the terraform configuration files
      - name: Terraform Validate
        id: tf_validate
        run: terraform validate -no-color
        working-directory: ${{ github.event.inputs.working-dir }}

      # Generates an execution plan for Terraform
      - name: Terraform Plan
        id: tf_plan
        run: terraform plan -no-color
        working-directory: ${{ github.event.inputs.working-dir }}

      # Executes the apply operation to deploy the actual infrastructure
      - name: Terraform Apply
        id: tf_apply
        if: github.ref == 'refs/heads/master'
        run: terraform apply -auto-approve
        working-directory: ${{ github.event.inputs.working-dir }}

      - name: Notify success
        if: success() # this step runs only if the previous steps succeeded.
        run: echo "[SUCCESS] The build is successful without any errors."

      - name: Notify failure
        if: failure() # this step runs only if any of the previous steps failed.
        run: |
          echo "[FAILED] This job has been failed due to earlier errors."
          echo "An eamil notification can be setup later sometime."
